<link rel="stylesheet" href="~/css/site.css">
<section class="grupoVagas">
    <div id="vagas">
        <ul>
            <li class="vg">
                <header class="clearfix">
                    <div class="informacoes-header">
                        <h2 class="cargo">
                            Secretária (o)
                        </h2>
                    </div>
                    <span class="empresa">
                        Hospital de São Paulo
                    </span>
                </header>
                <div class="detalhes">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam mattis enim vitae ex luctus, sit amet condimentum quam condimentum. Aenean maximus est risus, at sollicitudin enim pulvinar sit amet.
                </div>
                <footer>
                    <span class="vaga-local">
                        São Paulo
                    </span>
                </footer>
            </li>

        </ul>
    </div>
</section>